/*  Charlie Team: Clint Steadman, joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

    style.css

image sources:
hiking.jpg - https://www.nps.gov/grte/planyourvisit/hike.htm
whalewatching.png - https://www.newzealand.com/int/whale-watching/
kayak.jpg - https://www.viator.com/tours/Interlaken/Kayak-Tour-of-the-Turquoise-Lake-Brienz/d5011-64859P2
scuba.png - https://blog.wa.aaa.com/travel/getaways/washingtons-best-dives/
lodge.jpg - https://stablediffusionweb.com/
background.jpg - https://www.vecteezy.com/
outdoorlodge.png - https://pugetsound.soundlistings.com/i/puget-sound-highest-priced-homes
lobby.jpg - http://www.gregrobinsonarchitect.com/pacific-northwest-lodge-inspired-home
divider.png - https://www.freepnglogos.com/pics/divider
room.jpg - https://www.theporterhotel.com/accommodations/
islands.jpg - https://www.visitsanjuans.com/about
killerwhale.jpg - https://www.visitsanjuans.com/whale-watching
employee3.jpg - https://unsplash.com/s/photos/persona
employee4.png - https://stablediffusionweb.com 
*/

/* base Page */
h1 {
    text-decoration: important;
  }
  .head {
    background-color: #04B2D9;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  body {
    position: relative;
}

body::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
  .navbar-brand {
    padding-left: 20px; 
    padding-right: 20px; 
  }
  .navbar-nav li.nav-item:not(.navbar-brand) a:hover {
    background-color: #c0d904;
    color: #055902;
  }
  .navbar-nav li.nav-item:not(.navbar-brand) a:active {
    background-color: #000;
    color: white;
  }
  
/* Landing Page */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.image-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.maintxt {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 75px 0;
    color: #fff;
    position: relative;
}

.maintxt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.title-line1 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.action-call {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.action-link {
    color: #055902;
    text-decoration: underline;
}

.action-link:hover {
    color: #C0d904;
}

/* Card columns and Card styles */
.card-columns {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card-columns2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    flex: 1;
    max-width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #f8f9fa;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .bg-image {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .img-fluid {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.card-body {
    padding: 10px;
}
.card-body2 {
    padding: 0px;
}

.card-title {
    font-size: 20px;
    margin: 5px 0;
}

.card-text {
    font-size: 16px;
    margin: 5px 0;
}

/* Footer */
.footer {
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
}
  
.footer h4 {
    color: #333;
    margin-bottom: 0px;
}

.centered {
    text-align: center;
    margin-bottom: 5px;
}

.link-columns {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px 5em;
}

.link-columns ul {
    margin: 0; 
}

.link-columns ul li {
    margin-bottom: 10px; 
}

.list-unstyled a, .home-link a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
    padding-left: 5px;
}

.list-unstyled a:hover, .home-link a:hover {
    color: #333;
}

.social-icons-left,
.social-icons-right {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.social-icons-right a,
.social-icons-left a {
    text-decoration: none;

}
.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .required-field::before {
    content: '*';
    color: red;
    margin-right: 4px; 
}

/* about us */

.container_about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 20px;
}

.vr {
    height: 650px;
    margin: 0 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}