
/* base Page */
h1 {
    text-decoration: important;
  }
  .head {
    background-color: #04B2D9;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', Arial, sans-serif;
    background-color: #04B2D9;
  }
  .lightened-body {
    background-color: hsl(192, 85%, 90%);
  }
  .navbar-brand {
    padding-left: 20px; 
    padding-right: 20px; 
  }
  .navbar-nav li.nav-item:not(.navbar-brand) a:hover {
    background-color: #c0d904;
    color: #055902;
  }
  .navbar-nav li.nav-item:not(.navbar-brand) a:active {
    background-color: #000;
    color: white;
  }
  
/* Landing Page */

/* Reset any default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.image-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 100%;
    max-height: 100%; 
}

.title-head {
    background-color: #04B2d9;
    text-align: center;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1; 
    position: absolute;
    width: 100%;
}

.title {
    color: #47525E;
    font-size: 70px;
    margin-bottom: 0px;
}

.title-line1 {
    font-size: 80px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}
.action-call {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.action-link {
    color: #055902;
    text-decoration: underline;
}

.action-link:hover {
    color: #C0d904;
}

/* Card columns and Card styles */
.card-columns {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    flex: 1;
    max-width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #f8f9fa;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .bg-image {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .img-fluid {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 20px;
    margin: 5px 0;
}

.card-text {
    font-size: 16px;
    margin: 5px 0;
}


  
/* Footer */
.footer {
    background-color: hsl(192, 85%, 90%);
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
}

.footer h4 {
    color: #333;
    margin-bottom: 0px;
}

.centered {
    text-align: center;
    margin-bottom: 5px;
}

.link-columns {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px 5em;
}

.link-columns ul {
    margin: 0; 
}

.link-columns ul li {
    margin-bottom: 10px; 
}

.list-unstyled a, .home-link a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
    padding-left: 5px;
}

.list-unstyled a:hover, .home-link a:hover {
    color: #333;
}

.social-icons-left,
.social-icons-right {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.social-icons-right a,
.social-icons-left a {
    text-decoration: none;

}
.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .required-field::before {
    content: '*';
    color: red;
    margin-right: 4px; 
}
.image-container {
    position: relative;
    margin-left: -50px; 
}