h1 {
    text-decoration: important;
}
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.footer h4 {
    color: #333;
    margin-bottom: 20px;
}

.centered {
    text-align: center;
    margin-bottom: 5px;
}

.link-columns {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    align-items: center;
    margin: 10px 5em;
}

.link-columns ul {
    margin: 0; /* Reset margin for the lists */
}

.link-columns ul li {
    margin-bottom: 10px; /* Increase the space between list items */
}

.list-unstyled a, .home-link a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

.list-unstyled a:hover, .home-link a:hover {
    color: #333;
}

.social-icons-left,
.social-icons-right {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.social-icons-right a,
.social-icons-left a {
    text-decoration: none;

}
.fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
