<!--
    Charlie Team: Clint Steadman, joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

    404.html
-->

{% extends 'base.html' %}

{% block title %} 404 {% endblock %}
{% block content %}
    <h1>This Link Does Not Exist</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>

    <p>I don't know what else to tell you.</p>

    <p>Redirecting you in 5 seconds...</p>
    <p>In the meantime here is a picture of a cat.</p>
    <img src="https://c.pxhere.com/photos/88/8a/cat_lying_blue_eye_small_ginger_fur_heal_pet_animal-609263.jpg!d" alt="cat" width="500">


<script>
    setTimeout(function(){
        window.location.href = "{{ url_for('app.index')}}";
    }, 5000);
</script>
{% endblock %}