{% extends 'base.html' %}

<!--
    Charlie Team: Clint Steadman, Joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

    about.html
-->

{% block title %} About Us {% endblock %}

{% block content %}
<h1><br>About Us</h1>
    <div class="container_about">
        <div class="left">
            <h2>Our History</h2>
            <p>Company's history here.</p>
            
            <h2>Contact Information</h2>
            <address>
                <p>123 Main Street</p>
                <p>City, State, ZIP Code</p>
                <p>Email: info@example.com</p>
                <p>Phone: (123) 456-7890</p>
            </address>
        </div>
        <div class="vr"></div>
        <div class="right">
            <h2>Our Team</h2>
            <div class="employee">
                <img class="employee-photo" src="employee1.jpg" alt="Employee 1">
                <p>Employee 1</p>
            </div>
            <div class="employee">
                <img class="employee-photo" src="employee2.jpg" alt="Employee 2">
                <p>Employee 2</p>
            </div>
            <div class="employee">
                <img class="employee-photo" src="employee3.jpg" alt="Employee 3">
                <p>Employee 3</p>
            </div>
            <div class="employee">
                <img class="employee-photo" src="employee4.jpg" alt="Employee 4">
                <p>Employee 4</p>
            </div>
            
            <h2>Location</h2>
            <div id="map" class="map">
                
            </div>
        </div>
    </div>

{% endblock %}
