{% extends 'base.html' %}
<!--
    Charlie Team: Clint Steadman, Joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

    about.html
-->

{% block title %} About Us {% endblock %}

{% block content %}
<h1><br>About Us</h1>
    <div class="container_about">
        <div class="left" style="text-align: center; min-width: 400px;">
            <h2>Our History</h2><br>
            <!-- Description of the lodge's history -->
            <p>Moffat Bay Lodge has a rich and storied history that dates back to the early 20th century. Founded by
                John Moffat, a visionary entrepreneur and nature enthusiast, the lodge began as a modest lakeside
                retreat for those seeking solace in the beauty of nature.</p>
            <!-- Description of the lodge's evolution and mission -->
            <p>Over the years, Moffat Bay Lodge evolved into a premier destination for outdoor enthusiasts, offering
                a wide range of recreational activities including boating, fishing, hiking, and wildlife watching.
                The lodge's commitment to preserving the natural environment while providing exceptional guest
                experiences has been the cornerstone of its success.</p>

          <h4>We'd love to hear from you!</h4>
            <!-- Contact form for user feedback -->
            <form id="contactForm" action="mailto:recipient@example.com" method="post" enctype="text/plain">
              <div class="mb-3">
                  <!-- Input field for user's name -->
                  <label for="userName" class="form-label">Name:</label>
                  <input type="text" id="userName" class="form-control" name="Name" required>
              </div>
      
              <div class="mb-3">
                  <!-- Input field for user's email -->
                  <label for="userEmail" class="form-label">Email:</label>
                  <input type="email" id="userEmail" class="form-control" name="Email" required>
              </div>
      
              <div class="mb-3">
                  <!-- Textarea for user's message -->
                  <label for="userMessage" class="form-label">Message:</label>
                  <textarea class="form-control" id="userMessage" name="Message" rows="4" required></textarea>
              </div>
      
              <button type="submit" class="btn btn-success">Send</button>
            </form>
        </div>
        <div class="vr"></div>
        <div class="right" style="text-align: center; min-width: 400px;">
            <h2>Our Team</h2>
            <div class="card-columns2">
                <!-- Team member card 1 -->
                <div class="card text-center ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <!-- Display team member image -->
                      <img src="{{ url_for('static', filename='images/employee1.png') }}" class="img-fluid" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                      </a>
                    </div>
                  
                    <div class="card-body2">
                      <!-- Team member name and role -->
                      <h5 class="card-title">Joshua</h5>
                      <p class="card-text">
                        Boss #1
                      </p>
                    </div>
                  </div>
                  <!-- Team member card 2 -->
                  <div class="card text-center ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <!-- Display team member image -->
                      <img src="{{ url_for('static', filename='images/employee2.jpg') }}" class="img-fluid" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                      </a>
                    </div>
                  
                    <div class="card-body2">
                      <!-- Team member name and role -->
                      <h5 class="card-title">Clint</h5>
                      <p class="card-text">
                        Boss #2
                      </p>
                    </div>
                  </div>
            </div>
            <div class="card-columns2">
                <!-- Team member card 3 -->
                <div class="card text-center ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <!-- Display team member image -->
                      <img src="{{ url_for('static', filename='images/employee4.png') }}" class="img-fluid" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                      </a>
                    </div>
                  
                    <div class="card-body2">
                      <!-- Team member name and role -->
                      <h5 class="card-title">Aura Elle</h5>
                      <p class="card-text">
                        Boss #3
                      </p>
                    </div>
                  </div>
                  <!-- Team member card 4 -->
                  <div class="card text-center ">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                      <!-- Display team member image -->
                      <img src="{{ url_for('static', filename='images/employee3.jpeg') }}" class="img-fluid" />
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                    </div>
                  
                    <div class="card-body2">
                      <!-- Team member name and role -->
                      <h5 class="card-title">Riese</h5>
                      <p class="card-text">
                        Boss #4
                      </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <h2>Contact Information</h2>
    <!-- Display lodge contact information -->
    <address style="text-align: center;">
        <p>123 Pinedrona Lane</p>
        <p>San Juan Island, Washington 98250</p>
        <p>Email: moffatbaylodge@fake.com</p>
        <p>Phone: (123) 456-7890</p>
    </address>
    <div id="map" class="map">
        <div class="map-container">
        <!-- Embed Google Maps iframe for location -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d5284.227548022087!2d-122.98264053484507!3d48.531051296648975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDjCsDMxJzUwLjkiTiAxMjLCsDU4JzQ2LjYiVw!5e0!3m2!1sen!2sus!4v1694220928850!5m2!1sen!2sus" 
          width="550" height="400" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}