<!--
    Charlie Team: Clint Steadman, joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

    db.html
-->

{% extends 'base.html' %}

{% block title %} Confirm Reservation {% endblock %}
{% block content %}
    <h1> Confirm Reservation </h1>
    <p> Are you sure you want to reserve this room? </p>
    <form action = "/reserve" method = "post">
        {% csrf_token %}
        <input type="hidden" name="room" value="{{ room }}">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="time" value="{{ time }}">
        <input type="hidden" name="duration" value="{{ duration }}">
        <input type="hidden" name="user" value="{{ user }}">
        <input type="submit" value="Yes">
{% endblock %}
```