<!--
    Charlie Team: Clint Steadman, joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

    db.html
-->

{% extends 'base.html' %}

{% block title %} Confirm Reservation {% endblock %}
{% block content %}
    <h1> Confirm Reservation </h1>
    <p> Are you sure you want to reserve this room? </p>
    <form action="/confirm_reservation" method="post">
        {{ form.hidden_tag() }}
        <input type="hidden" name="room_number" value="{{ form.room_number.data }}">
        <input type="hidden" name="start_date" value="{{ form.start_date.data }}">
        <input type="hidden" name="end_date" value="{{ form.end_date.data }}">
        <input type="hidden" name="num_of_guests" value="{{ form.num_of_guests.data }}">
        <input type="submit" value="Yes">
    </form>    
{% endblock %}
```