<!-- 
    CSD460 Capstone Project - Charlie Team.
    Clint Steadman, Joshua Welch, Aura Elle Winters, Riese Bohnak
    
    File Name: db.html
    Display a database dump in a web page.
-->

{% extends 'base.html' %}
<!-- 
    Extend the 'base.html' template to inherit common structure and styles.
-->

{% block title %}
    Database Dump
{% endblock %}
<!-- 
    Define the 'title' block for setting the title of the webpage.
    In this case, the title will be 'Database Dump'.
-->

{% block content %}
    <h1><br>Database Dump</h1>
    <!-- 
        Display the main heading of the page: 'Database Dump'.
        The <br> tag adds some vertical space below the heading.
    -->

    <table>
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>
        <!-- 
            Create a table to display user data with column headers.
        -->

        {% for user in users %}
        <!-- 
            Loop through the 'users' data and display each user's information.
        -->
        <tr>
            <td>{{ user.uid }}</td>
            <td>{{ user.Email }}</td>
            <td>{{ user.First_name }}</td>
            <td>{{ user.Last_name }}</td>
            <td>{{ user.Phone_number }}</td>
        </tr>
        <!-- 
            Display user information in each row.
        -->
        {% endfor %}
        <!-- End of user data loop. -->
    </table>

    <br>

    <table>
        <tr>
            <th>Reservation ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Room Number</th>
            <th>Number of Guests</th>
            <th>User ID</th>
        </tr>
        <!-- 
            Create another table to display reservation data with column headers.
        -->

        {% for reservation in reservations %}
        <!-- 
            Loop through the 'reservations' data and display each reservation's information.
        -->
        <tr>
            <td>{{ reservation.rid }}</td>
            <td>{{ reservation.start_date }}</td>
            <td>{{ reservation.end_date }}</td>
            <td>{{ reservation.room_number }}</td>
            <td>{{ reservation.num_of_guests }}</td>
            <td>{{ reservation.user_id }}</td>
        </tr>
        <!-- 
            Display reservation information in each row.
        -->
        {% endfor %}
        <!-- End of reservation data loop. -->
    </table>
{% endblock %}
