<!--
    Charlie Team: Clint Steadman, joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

    index.html
-->

{% extends 'base.html' %}


{% block title %} Moffat Bay Lodge {% endblock %}
{% block content %}

<div class="container">
  <img src="{{ url_for('static', filename='images/bannertitle.png') }}" alt="Banner Image"style="max-width: 109.5%; height: auto;">
    <div class="row content-center">
        <div class="col-md-8 offset-md-2">
            <div class="maintxt" style="background-image: url({{ url_for('static', filename='images/waterfallhiking.png') }})">
                <span class="title-line1">Adventure Awaits Here</span>
            </div>
        </div>
    </div>
</div>
  <p class="action-call">
        Welcome to your next vacation<br>
        Book your dream stay <a href="{{ url_for('new_reservation')}}" class="action-link">now!</a>
      </p>
    <div class="card-columns">
      <div class="card text-center ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{{ url_for('static', filename='images/islands.jpg') }}" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
      
        <div class="card-body">
          <h5 class="card-title">Unparalleled Beauty</h5>
          <p class="card-text">
            Be inspired by the enchanting San Juan Islands
          </p>
      
      
        </div>
      </div>
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{{ url_for('static', filename='images/killerwhale.jpg') }}" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
          
            <div class="card-body">
              <h5 class="card-title">Be Amazed</h5>
              <p class="card-text">
                The Pacific Northwest is home to an abundance of wildlife
              </p>
          
          
            </div>
          </div>
    </div>
    <div class="card-columns">
      <div class="card text-center ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{{ url_for('static', filename='images/lobby.jpg') }}" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
      
        <div class="card-body">
          <h5 class="card-title">Feel at Home</h5>
          <p class="card-text">
            Relax in style in our newly renovated lobby
          </p>
      
      
        </div>
      </div>
          <div class="card text-center ">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{{ url_for('static', filename='images/room.jpg') }}" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
          
            <div class="card-body">
              <h5 class="card-title">Luxury Rooms</h5>
              <p class="card-text">
                Your escape from the hustle and bustle of reality
              </p>
          
          
            </div>
          </div>
    </div>
  </div>
{% endblock %}