{% extends 'base.html' %}


{% block title %} Hello World {% endblock %}
{% block content %}
</head>
<body>
  <div class="header">
    <div class="title">Moffat Bay Lodge</div>
    <div class="image-container">
      <img src="your-lodge-image.jpg" alt="Moffat Bay Lodge" class="image">
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <img src="image1.jpg" alt="Image 1" class="image">
      <div class="caption">Caption for Image 1</div>
    </div>
    <div class="column">
      <img src="image2.jpg" alt="Image 2" class="image">
      <div class="caption">Caption for Image 2</div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <img src="image3.jpg" alt="Image 3" class="image">
      <div class="caption">Caption for Image 3</div>
    </div>
    <div class="column">
      <img src="image4.jpg" alt="Image 4" class="image">
      <div class="caption">Caption for Image 4</div>
    </div>
  </div>
</body>
</html>
{% endblock %}