{% extends 'base.html' %}

{% block title %} Reservations {% endblock %}
{% block content %}
<h1>Reservation</h1>
<div class="container">
    <div  class="w-75">
        <img src="{{ url_for('static', filename='images/hotellayout.png') }}" alt="Hotel Layout" class="img-fluid" usemap="#image-map" id="responsive-image">
        <map name="image-map">
            <!-- Non-smoking 1a-1d-->
            <area alt="1a" title="1a" href="1a" coords="59,45,160,150" shape="rect">
            <area alt="1b" title="1b" href="1b" coords="169,45,270,150" shape="rect">
            <area alt="1c" title="1c" href="1c" coords="275,45,370,150" shape="rect">
            <area alt="1d" title="1d" href="1d" coords="375,45,475,150" shape="rect">
            <!-- Smoking 1e-1h-->
            <area alt="1e" title="1e" href="1e" coords="480,45,580,150" shape="rect">
            <area alt="1f" title="1f" href="1f" coords="585,45,680,150" shape="rect">
            <area alt="1g" title="1g" href="1g" coords="685,45,780,150" shape="rect">
            <area alt="1h" title="1h" href="1h" coords="785,45,890,150" shape="rect">
            <!-- Non-smoking 2a-2d-->
            <area alt="2a" title="2a" href="2a" coords="59,170,160,260" shape="rect">
            <area alt="2b" title="2b" href="2b" coords="169,170,270,260" shape="rect">
            <area alt="2c" title="2c" href="2c" coords="275,170,370,260" shape="rect">
            <area alt="2d" title="2d" href="2d" coords="375,170,475,260" shape="rect">
            <!-- Smoking 2e-2h-->
            <area alt="2e" title="2e" href="2e" coords="480,170,580,260" shape="rect">
            <area alt="2f" title="2f" href="2f" coords="585,170,680,260" shape="rect">
            <area alt="2g" title="2g" href="2g" coords="685,170,780,260" shape="rect">
            <area alt="2h" title="2h" href="2h" coords="785,170,890,260" shape="rect">
        </map>
    </div>
</div>


{% endblock %}
