{% extends 'base.html' %}

{% block title %} Reservation {% endblock %}
{% block content %}
<h1>Reservation</h1>
<div class="container">
    <div  class="w-75">
        <img src="{{ url_for('static', filename='images/hotellayout.png') }}" alt="Hotel Layout" class="img-fluid" usemap="#image-map" id="responsive-image">
        <map name="image-map">
            <area alt="1a" title="1a" href="1a" coords="59,45,160,150" shape="rect">
            <area alt="1b" title="1b" href="1b" coords="169,45,270,150" shape="rect">
            <area alt="1c" title="1c" href="1c" coords="275,45,370,150" shape="rect">
            <area alt="1d" title="1d" href="1d" coords="335,45,475,150" shape="rect">
        </map>
    </div>
</div>


{% endblock %}
