<!--
    Charlie Team: Clint Steadman, joshua Welch, Aura Elle Winters, Riese Bohnak
    CSD460 Capstone Project

-->

{% extends 'base.html' %}

{% block title %} Show Reservations {% endblock %}
{% block content %}
    <h1>Reservations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Room Number</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Number of Guests</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.rid }}</td>
                    <td>{{ reservation.room_number }}</td>
                    <td>{{ reservation.start_date }}</td>
                    <td>{{ reservation.end_date }}</td>
                    <td>{{ reservation.num_of_guests }}</td>
                    <td>${{ reservation.price }}</td>
                    <td>
                        <a href="{{ url_for('edit_reservation', reservation_id=reservation.rid) }}">Edit</a>
                        <a href="{{ url_for('delete_reservation', reservation_id=reservation.rid) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('new_reservation') }}">Add Reservation</a>

{% endblock %}